h2{
    color:green;
    background:red;
    display:inline;
    font-size:3rem;
    font-family: 'Yellowtail', cursive;

  }
  
  span{
    background: red;
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  #mylist{
    color:red;
  }
  
  body{
    background:whitesmoke;
    text-align: center;
  }
  
  #firstcolor{
    color:lightblue;
    background:darkblue;
  }
  
  #secondcolor{
    color:brown;
    background:orange;
  }